@using LocalDB.Core.Domain
@model IEnumerable<Item>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Amount</th>
    </tr>
    @foreach (Item item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Amount</td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>